[
  {
    "username": "admin",
    "display_name": "Administrator",
    "password_hash": "$argon2id$v=19$m=19456,t=2,p=1$yZp1PWhHuKpyaxIgw3qqmA$W4bbUhdGBc3FNkw9zi2D6Va30SlMRo8aeofN8RWf7GI",
    "role": "admin"
  }
]
